.github__card {
    margin: 50px 0;
    padding: 30px;
    box-shadow: 0 0 18px 0 #06d2dac4;
    /* border: 2px solid #06d2da; */
    border-radius: 11px;
  }
  .github__card button {
    border: none;
    outline: none;
    background-color: #343a50;
    color: #06d2da;
    padding: 10px;
    border-radius: 50%;
    padding: 8px 12px;
    font-size: 16px;
  }
  .github__card input {
    width: 87% !important;
    background-color: #343a50;
    border: none;
    border-radius: inherit;
    padding: 10px 14px;
    border-bottom: 2px solid #06d2da;
    color: #fff;
  }
  .github__card input:hover,
  .github__card input:focus {
    outline: 0;
    box-shadow: none;
    background-color: #343a50;
    color: #fff;
  }
  .user__img {
    width: 200px;
    /* height: 200px; */
    margin: auto;
    border-radius: 15%;
    overflow: hidden;
    margin-top: 30px;
  }
  .user__img img {
    width: 100%;
    object-fit: cover;
  }
  .user__details h6 {
    color: #ffffffa6;
    font-size: 17px;
  }
  .main__heading {
    text-align: center;
    font-style: italic;
    font-size: 49px;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 3px 3px #06d2da;
  }
  .error__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  